<h1 class="heading">Notes & Resources</h1>
<div class="row">
        <div class="col-lg-3 col-md-3 col-12 text-center mb-4">
                <div class="whitebox d-flex flex-column align-items-center">
                        <img src="assets/img/notes1.png">
                        <h2>General Knowledge</h2>
                        <a href="#">VIEW</a>
                    </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12 text-center mb-4">
                    <div class="whitebox d-flex flex-column align-items-center">
                            <img src="assets/img/notes2.png">
                            <h2>Physics</h2>
                            <a href="#">VIEW</a>
                        </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12 text-center mb-4">
                        <div class="whitebox d-flex flex-column align-items-center">
                                <img src="assets/img/notes3.png">
                                <h2>Biology</h2>
                                <a href="#">VIEW</a>
                            </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12 text-center mb-4">
                            <div class="whitebox d-flex flex-column align-items-center">
                                    <img src="assets/img/notes4.png">
                                    <h2>Math</h2>
                                    <a href="#">VIEW</a>
                                </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12 text-center mb-4">
                                <div class="whitebox d-flex flex-column align-items-center">
                                        <img src="assets/img/notes5.png">
                                        <h2>English</h2>
                                        <a href="#">VIEW</a>
                                    </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-12 text-center mb-4">
                                    <div class="whitebox d-flex flex-column align-items-center">
                                            <img src="assets/img/notes6.png">
                                            <h2>Computer Science</h2>
                                            <a href="#">VIEW</a>
                                        </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-12 text-center mb-4">
                                        <div class="whitebox d-flex flex-column align-items-center">
                                                <img src="assets/img/notes7.png">
                                                <h2>Geology</h2>
                                                <a href="#">VIEW</a>
                                            </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12 text-center mb-4">
                                            <div class="whitebox d-flex flex-column align-items-center">
                                                    <img src="assets/img/notes8.png">
                                                    <h2>Electronics</h2>
                                                    <a href="#">VIEW</a>
                                                </div>
                                        </div>
            
       

</div>