<div class="container-fluid headerfix">
<div class="container">
        <div class="row d-flex align-items-center">   
                <div class="col-lg-2 col-xl-2">
                    <img  src="assets/img/eslogo.png" width="45" height="45"
                    alt="image">
                </div>
                <div class="col-lg-10  col-xl-10 menu text-right">
                  
                  <a href="#">Download App</a>
                  <a href="#">Schedules</a>
                  <a href="#">Mock Tests</a>
                  <a href="#">General Knowledge</a>
                  <a href="#">Discussion</a>
                  <a href="#">Videos</a>
                  <a href="#">Refeffral & Earn</a>
                  <a href="" class="btn   mr-2 corporate-btn">Corporate Login</a>	
                </div>
              </div>
</div>
     
      </div>
      <div class="container-fluid subheaderfix d-flex align-items-center">
<div class="container">

            <div class="row d-flex align-items-center ">       
                    <div class="col-lg-12  col-xl-12 menu text-right">
                      
                      <a href="#">Assessment</a>
                      <a href="#">Pro Path</a>
                      <a href="#">Prime Choice</a>
                      <a href="#">ES Go</a>
                      <a href="#">English</a>
                      <a href="/login" class="login">SIGN IN</a>
                      <a href="/register" class="login" >SIGN UP</a>
                    
                    </div>
                  </div>
                </div>

      </div>