<div class="container-fluid headerfix">
<div class="container">
        <div class="row d-flex align-items-center">   
                <div class="col-lg-1 col-xl-1">
                  <a href="index.html">
                    <img  src="assets/img/eslogo.png" width="45" height="45"
                    alt="image"></a>
                </div>
                <div class="col-lg-11  col-xl-11 menu text-right">
                  
                  <a href="#">Download App</a>
                  <a href="#">Schedules</a>
                  <a href="#">Mock Tests</a>
                  <a href="#">General Knowledge</a>
                  <a href="#">Discussion</a>
                  <a href="#">Videos</a>
                  <a href="#">Refeffral & Earn</a>
                  <a href="" class="btn   mr-2 corporate-btn">Corporate Login</a>	
                  <!-- <a href="" class="btn  logout-btn" *ngIf="isLoggedin">Logout</a>	 -->

                </div>
              </div>
</div>
     
      </div>
      <div class="container-fluid subheaderfix d-flex align-items-center">
<div class="container">

            <div class="row d-flex align-items-center ">       
                    <div class="col-lg-12  col-xl-12 menu text-right">
                      
                      <a href="#">Assessment</a>
                      <a href="#">Pro Path</a>
                      <a href="#">Prime Choice</a>
                      <a href="#">ES Go</a>
                      <a href="#">English</a>
                      <span class="searchbar"><input type="text" class="inp" placeholder="Search">
                        <button type="submit" class="searchicon"><i class="fa fa-search"></i></button>
                      </span>
                      <span *ngIf="true" class="username">
                        Rim Tailor Roe
                      </span>
                      <span class="notifications">
                          <i class="fa fa-bell"></i>
                          <strong>2</strong>
                      </span>
                      <a href="/login" class="login">SIGN IN</a>
                      <a href="/register" class="login" >SIGN UP</a>
                    
                    </div>
                  </div>
                </div>

      </div>