<h1 class="heading">Live Tests</h1>
<div class="row">
<div class="col-lg-3 col-md-3 col-12 text-center">
    <div class="whitebox d-flex flex-column">

       <img src="assets/img/livetest1.png">
       <p>Examsspace</p>
       <h2>Innovation Challenge</h2>
       <p>ENDS IN</p>
       <div class="days">
           <div class="repeat text-center">
               <h3 class="h3">04</h3>
               <span>Days</span>
           </div>
           <div class="repeat  text-center">
                <h3 class="h3">11</h3>
                <span>Hours</span>
            </div>
            <div class="repeat  text-center">
                    <h3 class="h3">18</h3>
                    <span>Minutes</span>
                </div>
       </div>
       <a href="#">PARTICIPATE NOW</a>
        </div>
</div>

</div>