<h1 class="heading">Subjective/Course Exam</h1>
<div class="row mt-3">
    <div class="col-lg-4 col-md-4 col-12 mb-3">
            <div class="whitebox">
                    <div class="mr-3 subject"> 
                        <img src="assets/img/subjective1.png">
                        <div class="name">Math</div>
                    </div>
                    <div class="subjective">
                        <ul>
                            <li><a href="#">Arithmetic</a></li>
                            <li><a href="#">Number Theory</a></li>
                            <li><a href="#">Geometry</a></li>
                            <li><a href="#">Algebra</a></li>
                        </ul>
                    </div>
                </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 mb-3">
                <div class="whitebox">
                        <div class="mr-3 subject"> 
                            <img src="assets/img/subjective2.png">
                            <div class="name">Physics</div>
                        </div>
                        <div class="subjective">
                            <ul>
                                <li><a href="#">Atoms</a></li>
                                <li><a href="#">Nuclei</a></li>
                                <li><a href="#">Electic Current</a></li>
                                <li><a href="#">Wave Optics</a></li>
                            </ul>
                        </div>
                    </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mb-3">
                    <div class="whitebox">
                            <div class="mr-3 subject"> 
                                <img src="assets/img/subjective3.png">
                                <div class="name">Biology</div>
                            </div>
                            <div class="subjective">
                                <ul>
                                    <li><a href="#">Ecosystem
                                            </a></li>
                                    <li><a href="#">Evolution</a></li>
                                    <li><a href="#">Organism</a></li>
                                    <li><a href="#">Microbes</a></li>
                                </ul>
                            </div>
                        </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 mb-3">
                        <div class="whitebox">
                                <div class="mr-3 subject"> 
                                    <img src="assets/img/subjective4.png">
                                    <div class="name">Science</div>
                                </div>
                                <div class="subjective">
                                    <ul>
                                        <li><a href="#">Ecosystem
                                                </a></li>
                                        <li><a href="#">Evolution</a></li>
                                        <li><a href="#">Organism</a></li>
                                        <li><a href="#">Microbes</a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 mb-3">
                            <div class="whitebox">
                                    <div class="mr-3 subject"> 
                                        <img src="assets/img/subjective5.png">
                                        <div class="name">Geology</div>
                                    </div>
                                    <div class="subjective">
                                        <ul>
                                            <li><a href="#">Ecosystem
                                                    </a></li>
                                            <li><a href="#">Evolution</a></li>
                                            <li><a href="#">Organism</a></li>
                                            <li><a href="#">Microbes</a></li>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12 mb-3">
                                <div class="whitebox">
                                        <div class="mr-3 subject"> 
                                            <img src="assets/img/subjective5.png">
                                            <div class="name">Data Science</div>
                                        </div>
                                        <div class="subjective">
                                            <ul>
                                                <li><a href="#">Ecosystem
                                                        </a></li>
                                                <li><a href="#">Evolution</a></li>
                                                <li><a href="#">Organism</a></li>
                                                <li><a href="#">Microbes</a></li>
                                            </ul>
                                        </div>
                                    </div>
                            </div>
        </div>