<div class="leftmenu">
<div class="row">
    <div class="genereateresume">
        <i class="far fa-address-card"></i>
        <a href="#">
            <span>Generate Your Resume</span>
         </a>
    </div>
      <div id="accordion">
            
              <a class="menu-expand" data-toggle="collapse" href="#dashboard">
                 <p> Main Menu</p>
                 <span><i class="fa fa-chevron-down"></i></span>
              </a>
           
            <div id="dashboard" class="collapse show" data-parent="#accordion">
             <div class="drop-menu">
              <ul>
                <!-- <li><a [routerLink]="['/student/livetest']" class="active">Dashboard</a></li> -->
                <li><a [routerLink]="['../assessment']">My Assessment</a></li>
                <li><a routerLink="myexam">My Exams</a></li>
                <li><a routerLink="livetest">Live Tests</a></li>
                <li><a routerLink="notesresources">Notes & Resources</a></li>

              </ul>

             </div>
            </div>
         
            
            <a class="menu-expand" data-toggle="collapse" href="#practice">
                <p>Practice</p>
                <span><i class="fa fa-chevron-down"></i></span>
             </a>
            <div id="practice" class="collapse show" data-parent="#accordion">
                <div class="drop-menu">
                    <ul>
                      <li><a routerLink="mentorprofile">Mentor's Profile</a></li>
                      <li><a routerLink="eventexam">Event Exam</a></li>
                      <li><a routerLink="subjectivecourse">Subjective/Course Exam</a></li>
                      <li><a routerLink="bundleexam">Bundle Exam</a></li>
                      <li><a routerLink="olympiad">Olympiad</a></li>
                      <li><a routerLink="randomquiz">365 Days - Quiz Planning</a></li>
                    </ul>

                   </div>
            </div>
        </div>
  </div>
</div>