<!-- <div class="preloader">
<div class="loader">
<div class="shadow"></div>
<div class="box"></div>
</div>
</div> -->
<style>
.body {
	/* background: #023466; */
	height:100% ;
}
</style>
<div style=" height:100% ;">
<section class="login-area" style="margin-top:50px;">
	<div class="row m-0">
		<!-- <div class="col-lg-6 col-md-12 p-0">
			 <div>
				<img style="padding-top: 50px;" src="assets/img/boy.jpg" alt="image">
			</div>
		</div> -->
		<div class="col-lg-12 col-md-12 p-0  d-flex justify-content-center align-items-center">
			<div class="login-content" style=" border:2px solid #023466;">

				<div class="d-table">

					<div class="d-table-cell">
						<div class="login-form">
							<div class="logo">
								<a href="index.html"><img style="width: 120px;" src="assets/img/log2.png"
										alt="image"></a>
							</div>
							<!-- <h3>Welcome back</h3> -->
							
							<tabset #tabset>
								<tab heading="Corporate Login">

									<form [formGroup]="loginForm">
										<input type="hidden" name="csrf" value="">

										<div class="form-group">
											<input type="email" formControlName="email"
												placeholder="Your email address" class="form-control">
										</div>

										<div class="form-group">
											<input type="password" formControlName="password"
												placeholder="Your password" class="form-control">
										</div>

									</form>

								</tab>

								<tab heading="Students Login">
									<form id="loginForm" method="">
										<input type="hidden" name="csrf" value="">

										<div class="form-group">
											<input type="email" name="user_email" placeholder="Your email address"
												class="form-control">
										</div>

										<div class="form-group">
											<input type="password" name="user_password" placeholder="Your password"
												class="form-control">
										</div>

									</form>
								</tab>
							</tabset>
							<br>
							<div class="mb-3 text-left">
								<p>Don’ve have an account? <a href="javascript:void(0)"  (click)="register()">Sign up</a></p>
							</div>
							<div class="connect-with-social">

								<a href="javascript:void(0)" class="default-btn block" (click)="loginUser()" style="display:block">
									<!-- <i class='bx bx-lock icon-arrow before'></i>
									<span class="label">Login Now</span>
									<i class="bx bx-user icon-arrow after"></i> -->
									<span class="label">LOGIN NOW</span>
								</a><br>

								<div class="d-flex">
									<a href="javascript:void(0)" style="width: 206px;"
									(click)="signInWithFB()">
									<!-- <i class='bx bx-lock icon-arrow before'></i>
									<span class="label">SignIn With Facebook</span>
									<i class="bx bx-user icon-arrow after"></i> -->
									<img  src="assets/img/fb.png" alt="image" style="width:214px; height:52px;">
								</a>&nbsp;&nbsp;&nbsp;

								<a href="javascript:void(0)"  style="width: 206px;"
									(click)="loginWithGoogle()">
									<!-- <i class='bx bx-lock icon-arrow before'></i>
									<span class="label">SignIn With Google+</span>
									<i class="bx bx-user icon-arrow after"></i> -->
									<img  src="assets/img/g.png" alt="image" style="width:214px; height:52px;">

								</a>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</div>