<!-- <div class="preloader">
<div class="loader">
<div class="shadow"></div>
<div class="box"></div>
</div>
</div> -->


<section class="login-area">
	<div class="row m-0">
		<div class="col-lg-6 col-md-12 p-0">
			<div>
				<img style="padding-top: 50px;" src="assets/img/login-online-class.jpg" alt="image">
			</div>
		</div>
		<div class="col-lg-6 col-md-12 p-0">
			<div class="login-content">
					
				<div class="d-table">
						
					<div class="d-table-cell">
						<div class="login-form">
							<div class="logo">
								<a href="index.html"><img style="width: 120px;" src="assets/img/log2.png"
										alt="image"></a>
							</div>
							<h3>Welcome back</h3>
							<p>New to Class-Byte? <a href="register.html">Sign up</a></p>

							<ul class="nav nav-tabs" id="myTab" role="tablist">
								<li class="nav-item">
								  <a class="nav-link active" id="home-tab" data-toggle="tab"  data-target="#home" role="tab" aria-controls="home" aria-selected="true">Corporate Login</a>
								</li>
								<li class="nav-item">
								  <a class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile"  role="tab" aria-controls="profile" aria-selected="false">Student Login</a>
								</li>
							
							  </ul>
							  <div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">	
									<form [formGroup]="loginForm">
									<input type="hidden" name="csrf" value="">

									<div class="form-group">
										<input type="email" formControlName="user_email"  placeholder="Your email address"
											class="form-control">
									</div>

									<div class="form-group">
										<input type="password" formControlName="user_password" placeholder="Your password"
											class="form-control">
									</div>

								</form> </div>
								<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">	<form [formGroup]="loginForm">
									<input type="hidden" name="csrf" value="">

									<div class="form-group">
										<input type="email" formControlName="user_email"  placeholder="Your email address"
											class="form-control">
									</div>

									<div class="form-group">
										<input type="password" formControlName="user_password" placeholder="Your password"
											class="form-control">
									</div>

								</form> </div>
							
							  </div>
							<!-- <ngb-tabset [destroyOnHide]="false">  
									<ngb-tab [title]="'Corporate Login'">  
									  <ng-template ngbTabContent>  
											<form [formGroup]="loginForm">
													<input type="hidden" name="csrf" value="">
			
													<div class="form-group">
														<input type="email" formControlName="user_email"  placeholder="Your email address"
															class="form-control">
													</div>
			
													<div class="form-group">
														<input type="password" formControlName="user_password" placeholder="Your password"
															class="form-control">
													</div>
			
												</form> 
									  </ng-template>  
									</ngb-tab>  
									   
									<ngb-tab>  
									  <ng-template ngbTabTitle>Studentsss Login</ng-template>  
									  <ng-template ngbTabContent>  
											<form id="loginForm" method="">
													<input type="hidden" name="csrf" value="">
			
													<div class="form-group">
														<input type="email" name="user_email" placeholder="Your email address"
															class="form-control">
													</div>
			
													<div class="form-group">
														<input type="password" name="user_password" placeholder="Your password"
															class="form-control">
													</div>
			
												</form> 
									  </ng-template>  
									</ngb-tab>  								   
							</ngb-tabset>  -->


						






							<br>
							<div class="connect-with-social">

								<a href="javascript:void(0)" class="default-btn" (click)="loginUser()">
								<i class='bx bx-lock icon-arrow before'></i>
								<span class="label">Login Now</span>
								<i class="bx bx-user icon-arrow after"></i>
								</a><br><br>
	
								<a href="javascript:void(0)" class="default-btn" style="background-color:#364e92" (click)="signInWithFB()">
								<i class='bx bx-lock icon-arrow before'></i>
								<span class="label">SignIn With Facebook</span>
								<i class="bx bx-user icon-arrow after"></i>
								</a>&nbsp;&nbsp;&nbsp;
								
								<a href="javascript:void(0)" class="default-btn" style="background-color:#BB3F30" (click)="loginWithGoogle()">
								<i class='bx bx-lock icon-arrow before'></i>
								<span class="label">SignIn With Google+</span>
								<i class="bx bx-user icon-arrow after"></i>
								</a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<tabset #tabset>
	<tab
	  heading="First tab"
	  >Tab 1 content</tab>
  
	<tab
	  heading="Second tab"
	  >Tab 2 content</tab>
  
		<tab
	  heading="Second tab"
	  >Tab 2 content</tab>
  
		<tab
	  heading="Second tab"
	  >Tab 2 content</tab>
  </tabset>
  
