.login-bg {
 
 
  // background: red;

.login-gradient {
  background:linear-gradient( #00152b, #023466);
  position: absolute;
  height:386px ;
  width: 100%;
}

.login-area {
  // background:linear-gradient(to right #023466, #00152b);
  // background:  #023466;
  padding-top:100px ;
  .login-content {
    background: #ffffff;
    border-radius: 50px;
    width: 525px; 
    padding:40px ; 
    .form-control {
      border: 1px solid #ccc;
      margin-top:20px ;
    }
    .login-form {
      a {
        font-weight: bold;
        color: #006091;
        font-size: 12px;
        text-decoration: none;
      }
      p{
        color: #000000;
        font-size: 12px;
        text-decoration: none;
      }
      span.label {
        color: #ffffff;

      }
    }
  }
}
}