.assessment {
    padding:20px ;
    h1.heading {
        font-size: 36px;
        color: #023466;
        font-weight: normal;
    }
}
ul.choices  {
    padding-left: 0;
    margin-left: 0;
li {
    list-style: none;
    span {
        margin-left:10px;
    }
  
}
}