<div class="container-fluid">
  <div class="row">
    <!-- <app-header></app-header> -->
  </div>
<div class="container assessment">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12">
     <h1 class="heading">Python Knowledge Test</h1>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
      1
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12">

      <ul class="choices">
        <ng-template appPlaceholder></ng-template>
      </ul>

      <button class="btn btn-dark" (click)="previous()">Previous Question</button>
      <button class="btn btn-primary" (click)="next()">Next Question</button>

      <br><br><br>
      <button class="view-results">View Results</button>
      <span id="myresults" class="my-results">My results will appear here</span>
    </div>
  </div>
</div>
</div>