<div class="container">
    <div class="row m-0">
        <div class="col-12">
           <h1>ASSESSMENT</h1>
                 
                  <ul class="choices">
                    <!-- <li><input type="radio" name="question0" value="A"><span>2</span></li>
                    <li><input type="radio" name="question0" value="B"><span>1</span></li>
                    <li><input type="radio" name="question0" value="C"><span>3</span></li>
                    <li><input type="radio" name="question0" value="D"><span>4</span></li> -->




                    <li *ngFor="let quiz of quizs">
                      <h4> {{quiz.question}}</h4>
                      <input type="radio" name="question0" value="B"><span>{{quiz.options}}</span>
                    </li>
                  </ul>
              
                  <!-- <h4>How many letters are there in "BMX"?</h4>
                  <ul class="choices">
                    <li><input type="radio" name="question1" value="A"><span>2</span></li>
                    <li><input type="radio" name="question1" value="B"><span>1</span></li>
                    <li><input type="radio" name="question1" value="C"><span>3</span></li>
                    <li><input type="radio" name="question1" value="D"><span>4</span></li>
                  </ul>
               
                  <h4>How many letters are there in "A"?</h4>
                  <ul class="choices">
                    <li><input type="radio" name="question2" value="A"><span>2</span></li>
                    <li><input type="radio" name="question2" value="B"><span>1</span></li>
                    <li><input type="radio" name="question2" value="C"><span>3</span></li>
                    <li><input type="radio" name="question2" value="D"><span>4</span></li>
                  </ul> -->
               
              <button class="btn btn-dark" >Previous Question</button>
              <button class="btn btn-primary" >Next Question</button>
              
              <br><br><br>
              <button class="view-results" onclick="returnScore()">View Results</button>
              <span id="myresults" class="my-results">My results will appear here</span>
    </div>
    </div>
</div>
