<h1 class="heading">Mentor’s Profile</h1>
<div class="row">
    <div class="col-lg-6 col-md-6 col-12 mb-3">
        <div class="whitebox d-flex">
            <div class="mr-3"> <img src="assets/img/mentor1.png"></div>
            <div>
            <h2>Micheal John</h2>
            <p><strong>Location</strong> : Ann Arbor, MI,  USA </p>
             <p class="mb-2"><strong> Mentor Industory</strong> : Math/Physics</p>
             <a href="#">VIEW PROFILE</a>
             </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12 mb-3">
            <div class="whitebox d-flex">
                <div class="mr-3"> <img src="assets/img/mentor2.png"></div>
                <div>
                <h2>White Root</h2>
                <p><strong>Location</strong> : Ann Arbor, MI,  USA </p>
                 <p class="mb-2"><strong> Mentor Industory</strong> : Math/Physics</p>
                 <a href="#">VIEW PROFILE</a>
                 </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 mb-3">
                <div class="whitebox d-flex">
                    <div class="mr-3"> <img src="assets/img/mentor3.png"></div>
                    <div>
                    <h2>Micheal John</h2>
                    <p><strong>Location</strong> : Ann Arbor, MI,  USA </p>
                     <p class="mb-2"><strong> Mentor Industory</strong> : Math/Physics</p>
                     <a href="#">VIEW PROFILE</a>
                     </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 mb-3">
                    <div class="whitebox d-flex">
                        <div class="mr-3"> <img src="assets/img/mentor4.png"></div>
                        <div>
                        <h2>White Root</h2>
                        <p><strong>Location</strong> : Ann Arbor, MI,  USA </p>
                         <p class="mb-2"><strong> Mentor Industory</strong> : Math/Physics</p>
                         <a href="#">VIEW PROFILE</a>
                         </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 mb-3">
                        <div class="whitebox d-flex">
                            <div class="mr-3"> <img src="assets/img/mentor5.png"></div>
                            <div>
                            <h2>Micheal John</h2>
                            <p><strong>Location</strong> : Ann Arbor, MI,  USA </p>
                             <p class="mb-2"><strong> Mentor Industory</strong> : Math/Physics</p>
                             <a href="#">VIEW PROFILE</a>
                             </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 mb-3">
                            <div class="whitebox d-flex">
                                <div class="mr-3"> <img src="assets/img/mentor6.png"></div>
                                <div>
                                <h2>White Root</h2>
                                <p><strong>Location</strong> : Ann Arbor, MI,  USA </p>
                                 <p class="mb-2"><strong> Mentor Industory</strong> : Math/Physics</p>
                                 <a href="#">VIEW PROFILE</a>
                                 </div>
                            </div>
                        </div>
</div>