<h1 class="heading">Mentor’s Profile</h1>
<div class="row">
    <div class="col-lg-6 col-md-6 col-12 mb-3" *ngFor="let profile of mentorList">
        <div class="whitebox d-flex">
            <div class="mr-3"> 
                <img [src]="profile.mentorPic">
            </div>
            <div>
            <h2>{{profile.mentorName}}</h2>
            <p><strong>Location</strong> : {{profile.location}} </p>
             <p class="mb-2"><strong> Mentor Industory</strong> : {{profile.industory}}</p>
             <a href="#">{{profile.profileView}}</a>
             </div>
        </div>
    </div>
    
</div>