<!-- <div class="container">
<div class="row m-0">
    <div class="col-lg-12 col-md-12 p-0">
<p>dashboard works!</p>
<a href="javascript:void(0)" class="default-btn" (click)="dashboard()">
    <i class='bx bx-lock icon-arrow before'></i>
    <span class="label">Go to Dashboard</span>
    <i class="bx bx-user icon-arrow after"></i>
    </a>
</div>
</div>
</div> -->
    <app-header></app-header>
<div class="student-dash">
   <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-12">
          <div>
            <app-studentmenu></app-studentmenu>
          </div>
        </div>
        <div class="col-md-9 col-lg-9 col-12">
          <div class="rightsection">
          <div class="row">
            <div class="bread">
                <a href="#">Home</a> > <span>Dashboard</span>
            </div>
          </div>

          <!-- <router-outlet></router-outlet> -->
<!-- STUDENT DASHBOARD START-->
<router-outlet></router-outlet>

         

      </div>
      </div>
    </div>
   </div>
    </div>