<!-- <div class="container">
<div class="row m-0">
    <div class="col-lg-12 col-md-12 p-0">
<p>dashboard works!</p>
<a href="javascript:void(0)" class="default-btn" (click)="dashboard()">
    <i class='bx bx-lock icon-arrow before'></i>
    <span class="label">Go to Dashboard</span>
    <i class="bx bx-user icon-arrow after"></i>
    </a>
</div>
</div>
</div> -->
<div class="student-dash">
   <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-12">
          <div class="leftmenu">
            
            <div class="row">
              <div class="genereateresume">
                  <i class="far fa-address-card"></i>
                  <a href="#">
                      <span>Generate Your Resume</span>
                   </a>
              </div>
                <div id="accordion">
                      
                        <a class="menu-expand" data-toggle="collapse" href="#dashboard">
                           <p> Main Menu</p>
                           <span>></span>
                        </a>
                     
                      <div id="dashboard" class="collapse show" data-parent="#accordion">
                       <div class="drop-menu">
                        <ul>
                          <li><a [routerLink]="['/student/livetest']" class="active">Dashboard</a></li>
                          <li><a href="#">My Exams</a></li>
                          <li><a href="#">Live Tests</a></li>
                          <li><a href="#">Notes & Resources</a></li>
                        </ul>

                       </div>
                      </div>
                   
                      
                      <a class="menu-expand" data-toggle="collapse" href="#practice">
                          <p>Practice</p>
                          <span>></span>
                       </a>
                      <div id="practice" class="collapse" data-parent="#accordion">
                          <div class="drop-menu">
                              <ul>
                                <li><a href="#">Mentor Profile</a></li>
                                <li><a href="#">Event Exam</a></li>
                                <li><a href="#">Subjective/Course Exam</a></li>
                                <li><a href="#">Bundle Exam</a></li>
                                <li><a href="#">Olympiad</a></li>
                                <li><a href="#">365 Days - Quiz Planning</a></li>
                              </ul>
      
                             </div>
                      </div>
                  </div>
            </div>



          </div>
        </div>
        <div class="col-md-9 col-lg-9 col-12">
          <div class="rightsection">
          <div class="row">
            <div class="bread">
                <a href="#">Home</a> > <span>Dashboard</span>
            </div>
          </div>

          <!-- <router-outlet></router-outlet> -->
<!-- STUDENT DASHBOARD START-->

          <div *ngIf="false">
          <div class="row p-0 user-details">
            <div class="col-lg-4 col-md-4 col-12 d-flex align-items-center">
              <div>
                  <img  src="assets/img/skills.png"  alt="image">
              </div>
              <div>
                <h1>4/10</h1>
                <p>Skills earned</p>
              </div>
             
          </div>
          <div class="col-lg-4 col-md-4 col-12 d-flex align-items-center">
              <div>
                  <img  src="assets/img/badge.png"  alt="image">
              </div>
              <div>
                <h1>23</h1>
                <p>Badge earned</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 d-flex align-items-center">
                <div>
                    <img  src="assets/img/skills.png"  alt="image">
                </div>
                <div>
                  <h1>458</h1>
                  <p>Total Quiz Attempt</p>
                </div>
              </div>
        </div>
        <div class="row py-3">
          <div class="col-lg-9 col-md-9">
            <div class="graph whitebox">
              <h1 class="heading">My Progress</h1>
              <div class="text-center">
                <p>Subject Wise Number of Question in Examsspace</p>
                <img src="assets/img/graph.png"  alt="image">
              </div>
              
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="whitebox">
              <h1 class="heading">Skills Available For Practice</h1>
              <div class="skills-scroll">
                <ul>
                  <li><a href="#"><span></span>Algorithms</a></li>
                  <li><a href="#"><span></span>Python</a></li>
                  <li><a href="#"><span></span>Functional Programming</a></li>
                  <li><a href="#"><span></span>Databases</a></li>
                  <li><a href="#"><span></span>Data Structures</a></li>
                  <li><a href="#"><span></span>Ruby</a></li>
                  <li><a href="#"><span></span>Artificial Intelligence</a></li>
                  <li><a href="#"><span></span>Algorithms</a></li>
                  <li><a href="#"><span></span>Python</a></li>
                  <li><a href="#"><span></span>Functional Programming</a></li>
                  <li><a href="#"><span></span>Databases</a></li>
                  <li><a href="#"><span></span>Data Structures</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="whitebox">
              <h1 class="heading">Recently Attempted Tests</h1>
              <table class="table no-border">
                  <thead>
                    <tr>
                      <th>Test Name</th>
                      <th>Mark’s Obtained (%) </th>
                      <th>Attempt On  </th>
                    </tr>
                  </thead>
                  <tbody>                   
                    <tr>
                      <td>Series Completion</td>
                      <td>12.5</td>
                      <td>26 Aug 2021</td>
                    </tr>
                  </tbody>
                </table>
                <a href="#" class="green-btn">View More</a>
            </div>
          </div>
          <div class="col-lg-6 col-12">
              <div class="whitebox">
                <h1 class="heading">Highest Score Achieved by You
                  </h1>
                <table class="table no-border">
                    <thead>
                      <tr>
                        <th>Test Name</th>
                        <th>Mark’s Obtained (%) </th>
                        <th>Attempt On  </th>
                      </tr>
                    </thead>
                    <tbody>                   
                      <tr>
                        <td>Series Completion</td>
                        <td>85.5</td>
                        <td>20 Jan  2021</td>
                      </tr>
                    </tbody>
                  </table>
                  <a href="#" class="green-btn">View More</a>
              </div>
            </div>
        </div>
       
        <div class="row continue-course my-3">
            <h1 class="heading">Continue where you left </h1>     
            <div class="col-lg-4 col-md-4 col-12">
              <div class="whitebox w-100 d-flex align-items-center">
                  <div class="skillcourse pull-left">
                      <img src="assets/img/python.png"  alt="image">
                  </div>
                  <div>
                    <h3 class="skill">Python 3 tutorial </h3>
                    <p>20/34 lessons left</p>
                  </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="whitebox w-100 d-flex align-items-center">
                <div class="skillcourse pull-left">
                    <img src="assets/img/cplus.png"  alt="image">
                </div>
                <div>
                  <h3 class="skill">C ++ tutorial </h3>
                  <p>20/34 lessons left</p>
                </div>
              </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12">
                  <div class="whitebox w-100 d-flex align-items-center">
                  <div class="skillcourse pull-left">
                      <img src="assets/img/java.png"  alt="image">
                  </div>
                  <div>
                    <h3 class="skill">Java tutorial </h3>
                    <p>20/34 lessons left</p>
                  </div>
                </div>
                </div>
        </div>
        <div class="row tutorials my-3">
            <h1 class="heading">Tutorials </h1>     
            <div class="col-lg-4 col-md-4 col-12">
              <div class="whitebox w-100 ">
                 <h2>Event Exam</h2>
                 <p>Learn if-else statements, recursion, data structures, oops and more.</p>
                 <a href="#">Quiz Start</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="whitebox w-100 ">
                   <h2>Bundle Exam</h2>
                   <p>Learn if-else statements, recursion, data structures, oops and more.</p>
                   <a href="#">Buy the Package</a>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12">
                  <div class="whitebox w-100 ">
                     <h2>365 Days - Quiz Planning</h2>
                     <p>Learn if-else statements, recursion, data structures, oops and more.</p>
                     <a href="#">Quiz Start</a>
                  </div>
                </div>
          
        </div>
        
        </div>
<!-- STUDENT DASHBOARD END-->

<!-- LIVE TEST START-->
<div *ngIf="false">
  <app-livetest></app-livetest>
</div>
<!-- LIVE TEST END-->

<!-- NOTES & RESOURCES START-->
<div *ngIf="false">
<app-notesresources></app-notesresources>
  </div>
<!-- NOTES & RESOURCES START-->

<!-- MENTORS START-->
<div *ngIf="true">
<app-mentors></app-mentors>
  </div>
<!-- MENTORS START-->

      </div>
      </div>
    </div>
   </div>
    </div>