<!-- <div class="container">
<div class="row m-0">
    <div class="col-lg-12 col-md-12 p-0">
<p>dashboard works!</p>
<a href="javascript:void(0)" class="default-btn" (click)="dashboard()">
    <i class='bx bx-lock icon-arrow before'></i>
    <span class="label">Go to Dashboard</span>
    <i class="bx bx-user icon-arrow after"></i>
    </a>
</div>
</div>
</div> -->
<div class="container">
    <h2>Dashboard</h2>
    <div class="card" style="width:400px" (click)="dashboard()">
      <img class="card-img-top" src="https://thumbs.dreamstime.com/b/businessman-icon-vector-male-avatar-profile-image-profile-businessman-icon-vector-male-avatar-profile-image-182095609.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">Go to Assessment</a>
      </div>
    </div>