.wrapper {
	// background:linear-gradient(#023466, #00152b);
	background: url('https://media.istockphoto.com/photos/blue-gradient-soft-background-picture-id1138911015?k=6&m=1138911015&s=170667a&w=0&h=nVOiagSm1oHq5I9aYZV-oKlIniEfPp2XKF6n2JjBdaw=');
	height:1000px;
	background-size:100% 100%; 
	width:100%;
	background-attachment:fixed; 
	padding:20px 0 ;
	a {
		color: #ffffff;
		text-decoration: none;
		padding:0 20px;
		font-size: 14px;
	}
	.headerfix {
		height: 50px;
		background:#000000;
		top: 0px;
	
	
		.menu {
	
			a {
				color: #ffffff;
				text-decoration: none;
				padding:0 20px;
				font-size: 14px;
			}
			a.login-btn {
				background: #B01F24;
				border-radius:20px;
				padding:5px 20px;
				height:32px ;
				display: inline-flex;
				align-items: center;
				justify-content: center; 
			}
			a.corporate-btn {
				background: #007D55;
				border-radius:20px;
				padding:5px 20px;
				height:32px ;
				display: inline-flex;
				align-items: center;
				justify-content: center; 
				margin-right:10px ;
			}
		}
		
	}
	.subheaderfix {
		height: 50px;
		background:linear-gradient(#023466, #00152B);
		top: 0px;
	
		.menu {
	
			
			.login {
				background: #ffffff;
				padding:5px 20px;
				border-radius:20px;				
				height:32px ;
				display: inline-flex;
				align-items: center;
				justify-content: center; 
				margin-right:10px ;
				color: #023466;
				
			}
		}
		
	
	}
	// .logo {
	// 	// background: url('assets/img/delll.png');
	// 	// background-size:100% 100%; 
	// }
	
}

// .well {
// 	position: relative;
// 	overflow: hidden;
// 	transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
// }

// .top {
// 	font-size: 80%;
// 	color: hsla(0, 0%, 100%, .25);
// 	position: relative;
// 	top: -.2em;
// 	cursor: pointer;
// }

// .panel {
// 	position: relative;
// 	height: 100vh;
// 	overflow: hidden;
// 	font-size: 10vmin;
// 	padding: 1em;
// 	box-sizing: border-box;
// 	color: hsla(0, 0%, 100%, .1);
// 	cursor: default;
// }

// .panel:nth-child(1) {
// 	background-image:url(https://i.imgur.com/8sip89G.png);
// }

// .panel:nth-child(2) {
// 	background-image:url(https://i.imgur.com/fwMKHhd.png);
// }

// .panel:nth-child(3) {
// 	background-image:url(https://i.imgur.com/ymSpeOM.png);
// }

// .panel:nth-child(4) {
// 	background-image:url(https://i.imgur.com/QVgnqdJ.png);
// }

// .panel:nth-child(5) {
// 	background-image:url(https://i.imgur.com/vIUhtDB.png);
// }