<section>
  <!-- partial:index.partial.html -->
<div class="wrapper">

  
	<div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-between headerfix">   
      <div class="col-lg-2 col-xl-2">
          <img  src="assets/img/eslogo.png" width="20" height="20"
          alt="image">
      </div>
      <div class="col-lg-10  col-xl-10 menu text-lg-right" style="text-align:right">
        
        <a href="#">Download App</a>
        <a href="#">Schedules</a>
        <a href="#">Mock Tests</a>
        <a href="#">General Knowledge</a>
        <a href="#">Discussion</a>
        <a href="#">Videos</a>
        <a href="#">Refeffral & Earn</a>
        <a href="/login" class="btn btn-danger p-2 rounded-lg">Login</a>	
      </div>
    </div>
        <div class="row d-flex justify-content-center">
          <!-- <div class="logo">dd</div> -->
          <img  src="assets/img/delll.png" style="height:750px; width:850px; margin-top: 50px;"
                    alt="image">
        </div>
	</div>
</div>
</section>
<!-- partial -->
