.wrapper {
	// background:linear-gradient(#023466, #00152b);
	background: url('https://media.istockphoto.com/photos/blue-gradient-soft-background-picture-id1138911015?k=6&m=1138911015&s=170667a&w=0&h=nVOiagSm1oHq5I9aYZV-oKlIniEfPp2XKF6n2JjBdaw=');
	height:1000px;
	background-size:100% 100%; 
	width:100%;
	background-attachment:fixed; 
	padding:20px 0 ;
	
	

}

