<div class="row">
    <div class="d-flex align-items-center congheading">
        <img src="assets/img/like.png">
        <h1><span>Congratulations!</span> You have unlocked next level</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-12">
        <div class="whitebox d-flex justify-content-center flex-column align-items-center">
        <div class="skill d-flex justify-content-center align-items-center">
                <img src="assets/img/python.png">

        </div>
        <h2>Python</h2>
        <div class="d-flex">
            <a href="#" class="btn mr-2 active">Knowledge Test</a>
            <a href="#" class="btn">Coding Test</a>
        </div>
    </div>

    </div>
    <div class="col-lg-4 col-md-4 col-12">
            <div class="whitebox d-flex justify-content-center flex-column align-items-center">
            <div class="skill d-flex justify-content-center align-items-center">
                    <img src="assets/img/cplus.png">
    
            </div>
            <h2>C++</h2>
            <div class="d-flex">
                <a href="#" class="btn mr-2">Knowledge Test</a>
                <a href="#" class="btn">Coding Test</a>
            </div>
        </div>
    
        </div>
        <div class="col-lg-4 col-md-4 col-12">
                <div class="whitebox d-flex justify-content-center flex-column align-items-center">
                <div class="skill d-flex justify-content-center align-items-center">
                        <img src="assets/img/java.png">
        
                </div>
                <h2>JAVA</h2>
                <div class="d-flex">
                    <a href="#" class="btn mr-2">Knowledge Test</a>
                    <a href="#" class="btn">Coding Test</a>
                </div>
            </div>
        
            </div>
</div>