/* Full-width input fields */

.signup {
  background: #023466;
  height:100%;
  padding-top: 100px;
  p, label{
    font-size: 14px;
    color: #687288;
    a {
      color: #006091;
      font-size: 12px;
      font-weight: bold;
    }
  }
  
    p.small {
      font-size: 12px;
      color: #000000;
    }
  
  .signbox {
    background: #ffffff;
    border-radius: 30px;
    padding:55px;
    width:681px;
    box-sizing: border-box;
  }
}

input[type=text], input[type=password] {
    width: 100%;
    padding:8px 15px;
    margin: 2px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ffffff;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    font-size: 14px;
    color: #687288;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    outline: none;
    border: 1px solid #023466;
    color: #023466;
  }
  
  
  
  /* Set a style for all buttons */
  button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;

  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancel {
    padding: 14px 20px;
    background-color: #F2F2F2;
    box-shadow: 4px 0 4px #EAEFFA;
    color: #404040;


  }
  
  .register {
    padding: 14px 20px;
    background-color: #007D55;
    box-shadow: 4px 0 4px #EAEFFA;
    color: #ffffff;
  }
  
  